

body{	
	width: 100%;		
	background-color:#pink;
}
.container{
	background-color: #fff !important;
}
.nav-bar{
	padding-left: 40px !important;
}
ul{ 	list-style-type: none;}
.active{ background-color: #e74c3c !important; color: #fff }
.testheight{	height: 1400px;border-top: 2px solid black;}
.clear_both{	clear: both;}
.float_right{	float: right;}
.float_left{	float: left;}
.margin_top{	margin-top: 57px;} 
.margin_left{	margin-left:20px; }
.background_white{		background-color:white;}
.nav-item{}
ul.nav-icon li{
	margin-right: 10px;
}
a{
	color: black;
	text-decoration: none;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #2daaed;
}

a:active {
  text-decoration: underline;
}
.hideShowCase{
	visibility: hidden !important;
    opacity: 0 !important;
}
/*
li.navitem{
	position: relative;
}*/
ul.submenu{
	position: absolute;
	background-color: white;
	clear: both;
	padding-left: 0px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top: 1px solid #dadada;
}
ul.submenu ul{
	float: left;
	padding-left: 10px;
	margin-left: 10px;
}
ul.submenu ul li{
	margin:10px 10px 10px 0px;
}
.sidenav{
	display: none;
}
.left{
	background-color: white;
	height: 100%;
}
.content-left > div{
	width:95%;
	margin: 20px 0px 0px 35px;
}
.slide-default{
	background-color: red;
	height: 400px;
}
.group-slide{
	background-color: black;
	height: 100%;
	width: 100%;
}
.img-slide{
	background-color: #green;
	height: 300px;
	width: 100%;
}
#myList{
	margin-bottom: 0px;
	position: relative;
}
#myList li{
	position: absolute;
}
#myList, #myList li, #myList a, #myList img{
	width:100%;
	height:  300px;
	padding-left: 0px;
}
.img-choose{
	background-color: 	grey;
	width:100%;
	height: 100px;
}
.img-choose ul{
	background-color: 	red;
	width:100%;
	height: 100px;
	clear: both;
	padding-left: 0px;
	margin-bottom: 0px;
}
.img-choose li{
	width:25%;
	height: 100%;
	float: left;
	background-color: black;
	margin-left: 0px;
	padding: 5px 5px 5px 5px;
}
.img-choose a{
	width:80%;
	height: 80%;
	margin:auto;
}
.img-choose img{
	width:100%;
	height: 100%;
}
.img-choose a:hover{
	border: 2px solid red;
}




.ngheGiHomNay,.albumHot,.albumHot > div, .ngheGiHomNay > div{
	width: 100%;
}
h2 a{
	color: #2daaed;
}
.ngheGiHomNay ul{
	height: 200px;
}
.ngheGiHomNay ul, .albumHot ul{
	width: 100%;
	clear: both;
	padding-left: 0px;
}
.ngheGiHomNay li{
	height: 200px;
}
.ngheGiHomNay li, .albumHot li{
	width: 20%;
	float: left;
}
.box-main{	
	height: 150px;
	background-image: url("images/baihat/chingaemnang_bichphuong_icon.jpg");
	background-size:cover ;
	display: block;
}
.box-main, .infor{
	width: 90%;
}
.box-main a{
	width: 100%;
	height: 100%;
	position: relative;
}
.bg_action_infor{
	display: block;
	width: 100%;
	height: 100%;
	background-color: #green;
	position: relative;
}
span{
	color: #c7c7c7;;
}
.view_listen{
	background-image: url("images/bg_view_listen.png");
	background-size:cover;
	width: 60px;
	font-size: 12px;
	display: block;
}
.icon-play{
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
}
.icon-play:hover{
	opacity: 1;
}
.avatar{
	width: 100%;
	height: 100%;
	
}
.avatar img{
	width: 90%;
	height: 100%;
}
.infor{
	background-color: 
	width: 100%;
	height: 50px;
}
.infor h4,.infor h4 a{
	font-size: 12px;
	color: #acacac;
}
.infor h4 a:hover{
	color: #2daaed;
}



.albumHot{
	background-color: ;
	height: 500px;
}
.albumHot ul{
	height: 100%;

}
.albumHot li{
	height: 220px;
}
.albumHot .infor{
	background-color: 
	width: 100%;
	height: 80px;
}


.mvhot{		height: 690px;}
.mvHot ul{ 	height: 650px; }
.baiHat{	height: 490px;}
.baiHat ul{	height: 450px;}
.karaoke{	height: 270px;}
.karaoke ul{	height: 230px; }
.giattri{	height: 610px;}
.giaitri ul{	height: 570px; }

.mvHot, .karaoke, .giattri, .baiHat{
	background-color: #yellow;
	width: 100%;
	margin-bottom: 30px;
}

.mvHot > div, .karaoke > div, .giaitri > div, .baiHat > div{
	width: 100%;
	height: 100%;
}
.mvHot h2, .karaoke h2, .giaitri h2, .baiHat h2{
	height: 40px;
}
.mvHot ul, .karaoke ul, .giaitri ul, .baiHat ul{
	width: 100%;
	clear: both;
	padding-left: 0px;
}
.mvHot li, .karaoke li, .giaitri li{
	height: 190px;
	width: 25%;
	float: left;
}
.mvHot .box-main, .karaoke .box-main, .giaitri .box-main{
	height: 110px;
    background-repeat:no-repeat;
}

.mvHot .infor, .karaoke .info, .giaitri .info{
	background-color: 
	width: 100%;
	height: 80px;
}
li.mvLi{
	width: 50%;
	height: 280px;
}
li.mvLi .box-main, li.mvLi .infor{
	width: 95%;
	height: 230px;
}
.baiHat li{
	border-top: #ececec solid 1px;
	padding: 5px 0px 5px 0px;
	width: 45%;
	float: left;
	height: 70px;
	margin-right: 30px;
	margin-bottom: 
}
.baiHat li > div{
	width: 100%;
	height: 100%;
	clear: both;
}
.thumbnail_baihat{
	width: 60px;
	float: left;
	height: 60px;
	position: relative;
	display: block;
}
.thumbnail_baihat span{
	top: 35px;
  	left: 35px ;
  	position: absolute;
	opacity: 3;
}
.thumbnail_baihat span:hover{
	opacity: 1;
}
.baiHat li img{
	width: 60px;
	height: 60px;
	position: absolute;
}

.baiHat li div{
	float: left;
	height: 100%;
}
.baiHat .view_karaoke{
	float: right;
	width: 60px;
	height: 30px;
	background-color: #FFF;
}
.view_karaoke span{
	float: left;
}





.right{
	background-color: white;
	height: 100%;
	padding: 20px 0px 0px 0px;
	position: relative;
}
.nghe-si{
	width: 100%;
	height: 400px;
	background-color: #f1f1f1;
	margin-bottom: 30px;
}
.image-nghe-si{
	width: 100%;
	height: 300px;
	background-color: #black;
	padding-left: 0px;
}
.image-nghe-si li{
	width: 100%;
	height: 300px;
	background-color: #black;
}
.image-nghe-si a{
	width: 100%;
	height: 300px;
	background-color: #black;
}
.image-nghe-si img{
	width: 100%;
	height:100%;
	object-fit: fill ;
}
.name-nghe-si{
	margin-top: 10px;
	font-weight: bold;
    white-space: nowrap;
    text-align: center;
}
.trendNgheSi{
	margin-top: 10px;
	height: 35px;
}
.trendNgheSi ul{
	padding-left: 0px;
	height: 100%;
	width: 195px;
	clear: both;
	margin: auto;
}
.trendNgheSi li:first-child{
	margin-left: 0px;
}
.trendNgheSi li{
	margin-left: 5px;
	height: 100%;
	float: left;
}
.trendNgheSi a{
	height: 100%;
}
.trendNgheSi img{
	height: 35px;
	width: 35px;
	border-radius: 50%;
}




.goi-y{
	height: 240px;
	width: 100%;
	background-image: url("images/bg_web.png");
	background-size: cover;
	border-radius: 10px;
	color: #fff;
	text-align: center;
	padding-top: 30px;
}
.text_detail{
	color: rgba(255, 255, 255, 0.5);
	width: 80%;
	margin:auto;
	margin-top: 20px;
}
.content-playlist h2{
	margin-bottom: 20px;
}
.btn_playlist{
	
	height: 45px;
	background-color: #fff;
	width: 50%;
	margin:auto;
	border-radius: 20px;
	text-align: center;
	color: #2daaed !important;
	padding-top: 10px;
	margin-top: 20px;
}	

.chu-de-hot{
	margin-top: 20px;
	width: 100%;
	background-color: #fff;
	height: 400px;

}
.chu-de-hot div{
	margin-bottom: 0px;
}
.chu-de-hot a{
	color: #2daaed;
}
.chu-de-hot ul{
	margin-top: 0px;
	width: 100%;
	clear: both;
	padding-left: 0px;
}
.topic-hot {
	margin-top: 20px;
	width: 100%;
	float: left;
}
.topic-hot a{
	width: 100%;
}
.topic-hot img{
	width: 100%;
	height: 100px;
}


.box_chart_music, .box_chart_mv{
	width: 100%;
	margin-bottom: 40px;
}
.chart-choose{
	width: 100%;
	height: 30px;
	margin-top: 0px;
	clear: both;
	border-radius: 10px;
	padding-left: 0px;
	display: block;
}
.chart-choose li{
	width: 33.3%;
	height: 100%;
	float: left;
	text-align: center;
	background-color: #e5e5e5;
}
.chart-choose li:first-child, .chart-choose li:first-child a{
	border-right: 1px solid #FFF;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}
.chart-choose li:last-child, .chart-choose li:last-child a{
	border-left: 1px solid #FFF;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}
.chart-choose li:hover{
	background-color: #e74c3c;
}
.chart-choose a{
	width: 100%;
	height: 100%;
	float: left;
	text-align: center;
	background-color: #e5e5e5;
	text-decoration: none;
}
.chart-choose a:hover{
	background-color: #e74c3c;
	color: #fff;
}
.list-chart-music{
	height: 640px;
	width: 100%;
	background-color: #pink;
	position: relative;
}
.list-chart-music ul{
	width: 100%;
	height: 100%;
	padding-left: 0px;
	position: absolute;
}
.list-chart-music ul li{
	border-bottom: 0.5px solid #e5e5e5;
}
.one{
	width: 100%;
	height: 100px;
}
.infor_data{
	clear: both;
}
.infor_data > a{
	float: left;
	height: 100px;
	width: 100px;
	position: relative;
}

.infor_data a span{
	height: 32px;
	width: 32px;
	color: #fff;
	background-color: #e74c3c;
	font-size: 20px;
	position: absolute;
	bottom: 0px;
	z-index: 2;
}
.infor_data a img{
	height: 100px;
	width: 100px;
	position: absolute;
	z-index: 0;
}
.infor_data_song{
	float: left;
}
.infor_data_song{
	float: left;
	padding-left: 10px;
}
.infor_data_song h3{
	font-size: 14px;
	margin-bottom: 0px;
}
.infor_data_song h4 {
	padding-top: 0px;
	position: relative;
	font-size: 12px;
	color: #a2a2a2 !important;
}
.infor_data_song h4 a{
	font-size: 12px;
	color: #a2a2a2 !important;
}
.infor_data_song h4 a:hover{
	color: #2daaed !important;
}
.two{
	width: 100%;
	height: 60px;
	background-color: ;
}
.two > div{
	clear: both;
	padding: 13px 0px 10px 0px;
	width: 100%;
	height: 100%;
}
.two span{
	float: left;
	padding-left: 10px;
	padding-top: 10px;
	width: 30px;
	text-align: center;
}

.box_chart_mv{
 	height: 645px;
 }
.list-chart-mv{
	height: 525px;
	width: 100%;
	background-color: #pink;
	position: relative;
}
.list-chart-mv ul{
	width: 100%;
	height: 200px;
	padding-left: 0px;
	position: absolute;
	background-color: #black;
	clear: both;
}
.list-chart-mv li.one{
	border-bottom: 0.5px solid #e5e5e5;
	margin-bottom: 10px;
	width: 100%;
	height: 190px;
	padding-left: 0px;
	background-color: #green;
}
.one span{
	display: block;
}
.infor_mv{
	width: 310px;
    height: 168px;
    position: relative;
 	border : 1px solid black;
}

.infor_mv a:first-child{
	width: 100%;
    height: 100%;
    position: relative;
}
.infor_mv > a span:first-child{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #e74c3c;
    color: #fff; 
    text-align: center;
    margin-bottom: 0px;
    padding-top: 15px;
    top: 53px;
    z-index: 4;
}
#play{
    position: absolute;
    top: 50%;
  	left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}
#play:hover{
	opacity: 1;
}
.infor_mv > a img{
	width: 100%;
    height: 100%;
    z-index: 0;
}
.name_video{
	position: absolute;
	top: 125px;
	left: 70px;
}
.name_video h3{
	font-size: 14px;
	color: #fff;
}
.name_video h4{
	font-size: 12px;
	color: #fff;
}
.list-chart-mv li{
	border-bottom: 0.7px solid #e5e5e5;
	width: 100%;
	height: 90px;
	padding-left: 0px;
	padding-top: 10px;
	background-color: #black;
	float: left;
}
.list-chart-mv li > div{
	clear: both;
	width: 100%;
	height:100%;
}
.thumbnail_small{
	float: left;
	height: 100%;
	width: 110px;
	position: relative;
	display: block;
}
.thumbnail_small span{
	position: absolute;
	font-size: 20px;
	top:30px;
	left: 20px;
	z-index: 3;
}
.thumbnail_small span.play{
	position: absolute;
    top: 50%;
  	left: 50%;
    transform: translate(-50%, -60%);
    opacity: 0;
}
.thumbnail_small span.play:hover{
	opacity: 1
}
.thumbnail_small img{
	position: absolute;
	height: 80%;
	width:100%;
}
.infor_data_mv{	
	float: left;
	height: 100%; 
	padding-left: 10px;
}
.infor_data_mv h3{
	padding-top: 5px;
	height: 20px;
	font-size: 15px !important
}
.infor_data_mv h4{
	padding-top: 0px;
	height: 20px;
	font-size: 12px !important
}
.infor_data_mv h3 a{
	font-size: 15px;
}
.infor_data_mv h4 a{
	font-size: 12px;
	color: #a2a2a2 
}
.infor_data_mv a:hover{
	color: #2daaed;
}


.top_100_song{
	margin-top: 20px;
	width: 100%;
	height: 550px;
	border: 1px solid #2daaed;
}
.top100_head{
	background-color: #2daaed;
	height: 100px;
	position: relative;
}
.top100_head > div:first-child{
	padding-left: 40px;
}
.top100_head > div{
	width: 170px;
	margin: auto;
	font-size: 22px;
}
.top100_head a{
	color: #FFF;
}
.flower{
	height: 63px;
	position: absolute;
	right: 0px;
	top: -30px;
}
.flower img{
	width: 100%;
	height: 100%;
}
.top100_content{
	width: 100%;
	height: 450px;
	position: relative;
}
.top100_content > div{
	background-color: #2daaed;
	position: absolute;
	right: 1px;
	bottom: 2px;
	font-size: 13px;
}
.top100_content > div a{
	color: #fff;
}
.top100_content ul{
	width: 100%;
	height: 430px;
	padding-left: 15px;
}
.top100_content li{
	width: 100%;
	height: 80px;
	clear: both;
	padding: 10px 0px 10px 0px;
	border-bottom: 1px solid #f3f3f3;
}
.top100_content li > a{
	width: 60px;
	height: 60px;
	float: left;
	position: relative;
}
.top100_content img, .top100_content span{
	width: 60px;
	height: 60px;
	position: absolute;
}
.top100_content span{
	top: 20px;
  	left: 23px;
  	opacity: 0;
}
.top100_content span:hover{
  	opacity: 1;
}
.top100_content li > div{
	width: 200px;
	height: 60px;
	position: relative;
	margin-left: 15px;
	float: left;
	padding-top: 10px;
}





.container-fluid{	background-color:#green}
.footer{	    
	background: linear-gradient(to right, #2f80ed 0%,#00aeef 100%);
}
.container-footer{
	width: 100%;
	height: 64px;
}
.container-footer ul{
	width: 100%;
	height: 64px;
	clear: both;
	margin-bottom: 0px;
}
.container-footer li{
	float: left;
	color: #fff;
	font-size: 14px;
	margin-left: 20px;
	padding-top: 15px;
}


@media only screen and (max-width: 1130px) {
  body {
    background-color: red;
  }
  a.nav-brand{
	display: none;
  }
}


@media only screen and (max-width: 970px) {
   body {
     background-color: lightblue;
   }
   a.nav-brand img{
  	 padding-left: 0px !important;
   }
    
	#navmenu{

	}
	li.nav-item{
		
		position: relative;
		width: 100%;
	}
	li.nav-item > a{

	}
	ul.submenu{
		position: absolute;
		background-color: white;
		clear: both;
		padding-left: 0px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		border-top: 1px solid #dadada;
	}
	ul.submenu ul{
		float: left;
		padding-left: 10px;
		margin-left: 10px;
	}
	ul.submenu ul li{
		margin:10px 10px 10px 0px;
	}
	.nav-small{
		width: 50px;
	}
	.content-left > div{
		width:100%;
		margin: 20px 0px 0px 0px;
	}
}

.play-music{
	margin-bottom: 0px;
	width: 300px;
	height: 200px;
	background-color: black;
	position: fixed;
	bottom: 1px;
	z-index: 1000;
}
