

body{	
	width: 100%;	
	height: 1400px; 	
	background-color:pink;
}
.container{
	background-color: #fff !important;
}
.nav-bar{
	padding-left: 40px !important;
}
ul{ 	list-style-type: none;}
.testheight{	height: 1400px;border-top: 2px solid black;}
.clear_both{	clear: both;}
.float_right{	float: right;}
.float_left{	float: left;}
.margin_top{	margin-top: 57px;} 
.margin_left{	margin-left:20px; }
.background_white{		background-color:white;}
.nav-item{
}
ul.nav-icon li{
	margin-right: 10px;
}
a{
	color: black;
	text-decoration: none;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #2daaed;
}

a:active {
  text-decoration: underline;
}
.hideShowCase{
	visibility: hidden !important;
    opacity: 0 !important;
}
/*
li.navitem{
	position: relative;
}*/
ul.submenu{
	position: absolute;
	background-color: white;
	clear: both;
	padding-left: 0px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top: 1px solid #dadada;
}
ul.submenu ul{
	float: left;
	padding-left: 10px;
	margin-left: 10px;
}
ul.submenu ul li{
	margin:10px 10px 10px 0px;
}
.sidenav{
	display: none;
}
.left{
	background-color: white;
	height: 100%;
}
.content-left > div{
	width:95%;
	margin: 20px 0px 0px 35px;
}
.slide-default{
	background-color: red;
	height: 400px;
}
.group-slide{
	background-color: black;
	height: 100%;
	width: 100%;
}
.img-slide{
	background-color: green;
	height: 300px;
	width: 100%;
}
.img-slide ul{
	margin-bottom: 0px;
	position: relative;
}
.img-slide li{
	position: absolute;
}
.img-slide ul, .img-slide li, .img-slide a, .img-slide img{
	width:100%;
	height:  300px;
	padding-left: 0px;
}
.img-choose{
	background-color: 	grey;
	width:100%;
	height: 100px;
}
.img-choose ul{
	background-color: 	red;
	width:100%;
	height: 100px;
	clear: both;
	padding-left: 0px;
	margin-bottom: 0px;
}
.img-choose li{
	width:25%;
	height: 100%;
	float: left;
	background-color: black;
	margin-left: 0px;
	padding: 5px 5px 5px 5px;
}
.img-choose a{
	width:80%;
	height: 80%;
	margin:auto;
}
.img-choose img{
	width:100%;
	height: 100%;
}
.img-choose a:hover{
	border: 2px solid red;
}




.ngheGiHomNay,.albumHot,.albumHot > div, .ngheGiHomNay > div{
	width: 100%;
}
h2 a{
	color: #2daaed;
}
.ngheGiHomNay ul{
	height: 200px;
}
.ngheGiHomNay ul, .albumHot ul{
	width: 100%;
	clear: both;
	padding-left: 0px;
}
.ngheGiHomNay li{
	height: 200px;
}
.ngheGiHomNay li, .albumHot li{
	width: 20%;
	float: left;
}
.box-main{	
	height: 150px;
	background-image: url("images/item.jpg");
	background-size:cover;
	display: block;
}
.box-main, .infor{
	width: 90%;
}
.box-main a{
	width: 100%;
	height: 100%;
	position: relative;
}
.bg_action_infor{
	display: block;
	width: 100%;
	height: 100%;
	background-color: green;
	position: relative;
}
span{
	color: #c7c7c7;;
}
.view_listen{
	background-image: url("images/bg_view_listen.png");
	background-size:cover;
	width: 50%;
	display: block;
}
.icon-play{
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
}
.avatar{
	width: 100%;
	height: 100%;
	
}
.avatar img{
	width: 90%;
	height: 100%;
}
.infor{
	background-color: 
	width: 100%;
	height: 50px;
}
.infor h4,.infor h4 a{
	font-size: 12px;
	color: #acacac;
}
.infor h4 a:hover{
	color: #2daaed;
}



.albumHot{
	background-color: ;
	height: 500px;
}
.albumHot ul{
	height: 100%;

}
.albumHot li{
	height: 220px;
}
.albumHot .infor{
	background-color: 
	width: 100%;
	height: 80px;
}


.mvHot{
	background-color: yellow;
}
.listSong{
	background-color: red;
}
.listVideo{
	background-color: yellow;
}



.right{
	background-color: white;
	height: 100%;
	padding: 20px 0px 0px 0px;
}
.nghe-si{
	width: 100%;
	height: 350px;
	background-color: pink;
}
.image-nghe-si{
	width: 100%;
	height: 250px;
	background-color: black;
	padding-left: 0px;
}
.image-nghe-si li{
	width: 100%;
	height: 250px;
	background-color: black;
}
.image-nghe-si a{
	width: 100%;
	height: 250px;
	background-color: black;
}
.image-nghe-si img{
	width: 100%
	height:100%;
	object-fit: contain ;
}

.goi-y{
	height: 240px;
	width: 100%;
	background-image: url("images/bg_web.png");
	background-size: cover;
	border-radius: 10px;
	color: #fff;
	text-align: center;
	padding-top: 30px;
}
.text_detail{
	color: rgba(255, 255, 255, 0.5);
	width: 80%;
	margin:auto;
	margin-top: 20px;
}
.content-playlist h2{
	margin-bottom: 20px;
}
.btn_playlist{
	
	height: 45px;
	background-color: #fff;
	width: 50%;
	margin:auto;
	border-radius: 20px;
	text-align: center;
	color: #2daaed;
	padding-top: 10px;
	margin-top: 20px;
}	

.chu-de-hot{
	margin-top: 20px;
	width: 100%;
	background-color: #fff;
	height: 400px;

}
.chu-de-hot div{
	margin-bottom: 0px;
}
.chu-de-hot a{
	color: #2daaed;
}
.chu-de-hot ul{
	margin-top: 0px;
	width: 100%;
	clear: both;
	padding-left: 0px;
}
.topic-hot {
	margin-top: 20px;
	width: 100%;
	float: left;
}
.topic-hot a{
	width: 100%;
}
.topic-hot img{
	width: 100%;
	height: 100px;
}


.box_chart_music{
	width: 100%;
}
.chart-choose{
	width: 100%;
	height: 30px;
	margin-top: 0px;
	clear: both;
	border-radius: 10px;
	padding-left: 0px;
	display: block;
}
.chart-choose li{
	width: 33.3%;
	height: 100%;
	float: left;
	text-align: center;
	background-color: #e5e5e5;
}
.chart-choose li:first-child, .chart-choose li:first-child a{
	border-right: 1px solid #FFF;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}
.chart-choose li:last-child, .chart-choose li:last-child a{
	border-left: 1px solid #FFF;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}
.chart-choose li:hover{
	background-color: #e74c3c;
}
.chart-choose a{
	width: 100%;
	height: 100%;
	float: left;
	text-align: center;
	background-color: #e5e5e5;
	text-decoration: none;
}
.chart-choose a:hover{
	background-color: #e74c3c;
	color: #fff;
}
.list-chart-music{
	width: 100%;
	background-color: #pink;
}
.list-chart-music ul{
	width: 100%;
	padding-left: 0px;
}
.list-chart-music ul li{
	border-bottom: 0.5px solid #e5e5e5;
}
.one{
	width: 100%;
	height: 100px;
}
.infor_data{
	clear: both;
}
.infor_data > a{
	float: left;
	height: 100px;
	width: 100px;
	position: relative;
}

.infor_data a span{
	height: 32px;
	width: 32px;
	color: #fff;
	background-color: #e74c3c;
	font-size: 20px;
	position: absolute;
	bottom: 0px;
	z-index: 2;
}
.infor_data a img{
	height: 100px;
	width: 100px;
	position: absolute;
	z-index: 0;
}
.infor_data_song{
	float: left;
}
.infor_data_song{
	float: left;
	padding-left: 10px;
}
.infor_data_song h3{
	font-size: 14px;
	margin-bottom: 0px;
}
.infor_data_song h4 {
	padding-top: 0px;
	position: relative;
	font-size: 12px;
	color: #a2a2a2 !important;
}
.infor_data_song h4 a{
	font-size: 12px;
	color: #a2a2a2 !important;
}
.infor_data_song h4 a:hover{
	color: #2daaed !important;
}
.two{
	width: 100%;
	height: 60px;
	background-color: ;
}
.two > div{
	clear: both;
	padding: 13px 0px 10px 0px;
	width: 100%;
	height: 100%;
}
.two span{
	float: left;
	padding-left: 10px;
	padding-top: 10px;
	width: 30px;
	text-align: center;
}


.container-fluid{	background-color:green}
.footer{	background-color:black;}


@media only screen and (max-width: 1130px) {
  body {
    background-color: red;
  }
  a.nav-brand{
	display: none;
  }
}


@media only screen and (max-width: 970px) {
   body {
     background-color: lightblue;
   }
   a.nav-brand img{
  	 padding-left: 0px !important;
   }
    
	#navmenu{

	}
	li.nav-item{
		
		position: relative;
		width: 100%;
	}
	li.nav-item > a{

	}
	ul.submenu{
		position: absolute;
		background-color: white;
		clear: both;
		padding-left: 0px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		border-top: 1px solid #dadada;
	}
	ul.submenu ul{
		float: left;
		padding-left: 10px;
		margin-left: 10px;
	}
	ul.submenu ul li{
		margin:10px 10px 10px 0px;
	}
	.nav-small{
		width: 50px;
	}
	.content-left > div{
		width:100%;
		margin: 20px 0px 0px 0px;
	}
}
